# .env.template

TMDB_API_TOKEN=your-api-read-access-token-here

# Update to match your local SQL Server instance name
# Common options:
# - for full SQL Server: Data Source=YOUR_SERVER_NAME;
# - For Localdb: Data Source=(localdb)\MSSQLLocalDB;

DB_CONNECTION_STRING=Data Source=YOUR_SERVER_NAME;Database=PicAFlickData;Trusted_Connection=True;TrustServerCertificate=True