.nav-container {
  position:fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--color-mint);
  border-top: 1px solid var(--color-pink-light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000; /* Ensures it stays above other content */
  
  /* Modern Mobile Support (handles iPhone home bars) */
  padding-bottom: env(safe-area-inset-bottom);
}

.nav-item {
  color: var(--color-ink);
  text-decoration: none;
  font-weight: 600;
}

/* Desktop: move it to the top and style like a header */
@media (min-width: 768px) {
  .nav-container {
    border-top: 0;
    border-bottom:0;
    top: 0;
    padding: 10px 16px;
    width: 100%;
    grid-template-columns: auto auto auto;
    justify-content: start;
    gap: 12px;
    bottom: auto;
  }
}
