<div class="app-tv-show-search-container">
  <h2>Search for a TV Show</h2>
  <p>Find a TV show, then ask PicAFlick about the cast or details.</p>
  <!-- Input field to accept tv show title -->
  <input 
    type="text" 
    [(ngModel)]="searchTerm"   
    placeholder="Enter tv show title" 
    class="tv-show-title-input" />

  <!-- Button to trigger the search -->
  <button type="button" (click)="onSearch()" class="search-button">Search</button>

  <!-- Display error message if no tv show found -->
  @if (errorMessage) 
  {
    <div class="error-message">
        {{ errorMessage }}
    </div>
  }

  <!-- Display tv show data if available -->
  @if (searchResults)
  {
    @for (tvShow of searchResults; track tvShow.id)
    {
      <div class="tv-show-card" (click)="onSelectShow(tvShow)">
        <div class="poster">
          @if (tvShow.poster_path)
          {
            <img src="https://image.tmdb.org/t/p/w185/{{ tvShow.poster_path }}"/>
          } @else {
            <img src="assets/images/tv-placeholder.jpg">
          }
        </div>
        <div class="tv-show-info">
          <h3>{{ tvShow.name }}</h3>
          <p><strong>Overview:</strong> {{ tvShow.overview }}</p>
          <p><strong>Release Date:</strong> {{ tvShow.first_air_date }}</p>
          <p><strong>Rating:</strong> {{ tvShow.vote_average }}</p>
        </div>
      </div>
    }       
  }
