<div class="app-movie-search-container picaflick-shell">
  <div class="search-sidebar">
    <h2>Search for a Movie</h2>

    <!-- Input field to accept movie title -->
    <input 
      type="text" 
      [(ngModel)]="searchTerm"   
      placeholder="Enter movie title" 
      (keydown.enter)="onSearch()"
      class="movie-title-input" />

    <!-- Button to trigger the search -->
    <button type="button" (click)="onSearch()" class="search-button">Search</button>
  </div>

  <div class="search-results">
    @if (errorMessage) {
      <div class="error-message">
          {{ errorMessage }}
      </div>
    }

    <!-- Display movie data if available -->
    @if (searchResults) {
      @for (movie of searchResults; track movie.id) {
        <div class="media-card" (click)="onSelectMovie(movie)">
          <div class="poster">
            @if (movie.poster_path)
            {
              <img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}"/>           
            } @else {
              <img src="assets/images/movie-placeholder.jpg">
            } 
          </div>
          <div class="media-info">
            <h3>{{ movie.title }}</h3>

            <div class="media-meta">
              <span>{{ movie.release_date?.slice(0, 4) }}</span>
              <span class="meta-separator">•</span>
              <span>★ {{ movie.vote_average != null ? movie.vote_average.toFixed(1) : 'N/A' }}</span>
              <span class="meta-separator">•</span>
              <span class="icon-wrapper">
                <img src="assets/images/clapperboard-icon.svg" alt="" />
              </span>
            </div>

            <p class="media-overview">{{ movie.overview }}</p>
          </div> 
                   
          <div class="media-controls">
            @if (isInWatchlist(movie)) {
              <span class="in-watchlist">
                <strong>In your Watchlist 🤩</strong>
              </span>
            } @else {
              <button
                type="button"
                class="add-watchlist-button"
                (click)="$event.stopPropagation(); addToWatchlist(movie)">
                Add to your Watchlist
              </button>
            }            
          </div>
        </div>
      }
    } 
  </div>
</div>