<div class="app-movie-search-container">
  <h2>Search for a Movie</h2>

  <!-- Input field to accept movie title -->
  <input 
    type="text" 
    [(ngModel)]="searchTerm"   
    placeholder="Enter movie title" 
    class="movie-title-input" />

  <!-- Button to trigger the search -->
  <button type="button" (click)="onSearch()" class="search-button">Search</button>

  @if (errorMessage) 
  {
    <div class="error-message">
        {{ errorMessage }}
    </div>
  }

  <!-- Display movie data if available -->
  @if (searchResults)
  {
    @for (movie of searchResults; track movie.id)
    {
      <div class="movie-card">
        <div class="poster">
          <img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}"/> 
        </div>
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p><strong>Overview:</strong> {{ movie.overview }}</p>
          <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
          <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
        </div>
      </div>
    }       
  }
