main {
  /* Match this to the height of your navbar */
  padding-bottom: 70px; 
}

:host {
  display: block;
  height: 100%;
}

.app-shell {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto; /* content takes remaining space, nav sizes itself */
}

.content {
  overflow: auto; /* <- scroll happens here */
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .app-shell {
    grid-template-rows: auto 1fr; /* nav row first */
  }

  app-bottom-nav {
    order: -1; /* nav appears before content */
  }
}
